transformers
datasets
bs4
accelerate
lxml
lxml_html_clean
scikit-learn
matplotlib
babel
requests
certifi
cloudscraper
fake-useragent
diskcache
tensorboard
-f https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
huggingface_hub
pytest