transformers
datasets
bs4
torch
accelerate
lxml
lxml_html_clean
scikit-learn
matplotlib
requests
cloudscraper
fake-useragent
tenacity
diskcache
tensorboard
-f https://download.pytorch.org/whl/cu118
torchvision
torchaudio
huggingface_hub
pytest