transformers
datasets
bs4
accelerate
lxml
lxml_html_clean
scikit-learn
matplotlib
babel
requests
certifi
cloudscraper
fake-useragent
diskcache
tensorboard
-f https://download.pytorch.org/whl/cu124
torch==2.5.1+cu124
torchvision==0.16.1+cu124
torchaudio==2.5.1+cu124
huggingface_hub
pytest